#wrap {
    text-align: center;
    margin: 0 auto;
    
}
#wrap .inner {
    
}
#wrap .inner .comment_txt {
    width: 50%;
    height: 70px;
    border: none;
    border-bottom: 1px solid #dadada;
    box-shadow: 10px;
    margin-top: 50px;
}
#wrap .inner .comment_txt:hover {
    outline: none;
}
#wrap .inner .comment_btn {
    width: 7%;
    height: 75px;
}

/* 별점 CSS */
.star_score {
    margin-top: 30px;
    list-style: none;
    background-color: orange;
    width: 100%;
    position: relative;
}

.star_score .inner {
    display: flex;
    position: absolute;
    left: 21%;
}

.star_score .inner li {
    font-size: 25px;
}
