#wrap {
    text-align: center;
    margin: 0 auto;
}
#wrap .inner {
    
}
#wrap .inner .comment_txt {
    width: 50%;
    height: 70px;
    border: none;
    border-bottom: 1px solid #dadada;
    box-shadow: 10px;
}
#wrap .inner .comment_txt:hover {
    outline: none;
}
#wrap .inner .comment_btn {
    width: 7%;
    height: 75px;
}

/* 별점 CSS */
.star_score { 
    width: 100px;
    position: relative;
    top:20px;
    left: 22%;
    margin-top:30px;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    
}
