#list-wrap {
    width: 97%;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 0 10px 10px;
    overflow: hidden;
}

.list-item {

    width: 100%;
}

.item-wrap {
    position: relative;
    height: 100px;
    margin-bottom: 5px;
}

.list-item div.id {
    clear: both;
    float: left;
    width: 90px;
    height: 90px;
    background-color: rgb(113, 178, 231);
    border-radius: 50px;
    margin-right: 10px;
    line-height: 80px;
    font-size: 50px;
    color: #2282fe;
}

.list-item input#mention {
    float: left;
    margin-top: 5px;
    width: 770px;
    line-height: 60px;
    border-radius: 10px;
    border: 1px solid #dadada;
    padding: 0 0 0 10px;
    outline: none;
}


.list-item div.moddate {
    position: absolute;
    width: 100px;
    left: 100px;
    top: 70px;
}

.list-item div.rank {
    position: absolute;
    width: 100px;
    left: 210px;
    top: 70px;
}